<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Doctor</title>
</head>
<body>
<h2>Add Doctor</h2>
<form action="/doctors/add" method="post">
    Name: <label>
    <input type="text" name="name">
</label>
    Surname: <label>
    <input type="text" name="surname">
</label>
    email: <label>
    <input type="text" name="email">
</label>
    specialty: <label>
    <input type="text" name="specialty">
</label>
    phoneNumber: <label>
    <input type="text" name="phoneNumber">
</label>
    profilePic: <label>
    <input type="text" name="profilePic">
</label>
    <input type="submit" value="add">
</form>
</body>
</html>