<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a href="/logout"> Logout</a>
<div th:if="${user != null}">
    Welcome <span th:text="${user.user.name}"></span>
    <a href="/logout"> Logout</a>
</div>
<h1>Welcome to our hospital</h1>.
<a href="/doctors"> -> Doctors</a> <br>
<a href="/patients">-> Patients</a><br>
<a href="/appointments"> -> Appointments </a><br>
<a href="/user/register" th:if="${user == null}"> Register </a>
<a href="/login" th:if="${user == null}">Login</a>
</body>
</html>